NODE_ENV=local
PORT=3002

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=regleau

JWT_SECRET=secret

BREVO_API_KEY=api_key
EMAIL_NOTIFICATIONS_ENABLED=0
MATTERMOST_WEBHOOK_URL=webhook_url

WEBSITE_URL=

MATOMO_API_KEY=
MATOMO_URL=
MATOMO_ID_SITE=

OLD_MATOMO_URL=
OLD_MATOMO_API_KEY=
OLD_MATOMO_ID_SITE=